* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Tahoma, sans-serif;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        text-decoration: underline;
    }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

thead {
    background-color: #CCCCCC;
}

tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

tbody tr:nth-child(odd) {
    background-color: #EEEEEE;
}