* {
    box-sizing: border-box;
}

#wrapper {
    margin: 0 auto;
    width: 575px;
}

/*----------------------------------------- Adding a Book Div -----------------------------------------------*/

    #wrapper #add-book-field {
        width: 265px;
        display: inline-block;
        vertical-align: top;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 25px;
    }

        #wrapper #add-book-field h1 {
            font-family: Arial, Tahoma, sans-serif;
        }

        #wrapper #add-book-field label {
            font-family: Arial, Tahoma, sans-serif;
            font-size: 16px;
            font-weight: bold;
            display: inline-block;
            width: 65px;
        }

        #wrapper #add-book-field input[type=text] {
            width: 160px;
            height: 30px;
            margin-bottom: 10px;
            padding-left: 5px;
            font-family: Arial, Tahoma, sans-serif;
            font-size: 16px;
            display: inline-block;
        }

        #wrapper #add-book-field #add-book {
            display: block;
            width: 100px;
            height: 35px;
            margin: 5px auto 15px auto;
            background-color: white;
            border: 2px solid #4CA0DB;
            font-family: Arial, Tahoma, sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #4CA0DB;
            transition: 1s ease;
            border-radius: 5px;
        }

            #wrapper #add-book-field #add-book:hover {
                cursor: pointer;
                color: white;
                background-color: #4CA0DB;
                transition: 1s ease;
            }

/*------------------------------------------ Books On Display -----------------------------------------------*/

    #wrapper #book-container {
        width: 280px;
        display: inline-block;
        vertical-align: top;
    }

        #wrapper #book-container h1 {
            font-family: Arial, Tahoma, sans-serif;
            text-align: center;
        }

        #wrapper #book-container ul {
            list-style-type: none;
            padding: 0;
        }

            #wrapper #book-container ul li {
                display: block;
                margin-bottom: 20px;
                padding: 20px 10px 10px 10px;
                border: 5px solid #4CA0DB;
                border-radius: 25px;
            }

                #wrapper #book-container ul li p {
                    margin: 0;
                    margin-bottom: 7px;
                    font-family: Arial, Tahoma, sans-serif;
                    font-size: 18px;
                }

                #wrapper #book-container ul li label {
                    font-family: Arial, Tahoma, sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    display: inline-block;
                    width: 65px;
                    height: 30px;
                }

                #wrapper #book-container ul li input[type=text] {
                    width: 170px;
                    height: 30px;
                    padding-left: 5px;
                    font-family: Arial, Tahoma, sans-serif;
                    font-size: 16px;
                }

ul li .edit {
    display: none;
}

ul li.edit .edit {
    display: initial;
}

ul li.edit .noedit {
    display: none;
}

.editButton {
    width: 75px;
    height: 30px;
    background-color: white;
    border: 2px solid #009900;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #009900;
    transition: 1s ease;
    border-radius: 5px;
    margin-right: 10px;
}

    .editButton:hover {
        cursor: pointer;
        color: white;
        background-color: #009900;
        transition: 1s ease;
    }

.removeButton {
    width: 75px;
    height: 30px;
    background-color: white;
    border: 2px solid red;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: red;
    transition: 1s ease;
    border-radius: 5px;
}

    .removeButton:hover {
        cursor: pointer;
        color: white;
        background-color: red;
        transition: 1s ease;
    }

.saveEdit {
    width: 75px;
    height: 30px;
    background-color: white;
    border: 2px solid #009900;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #009900;
    transition: 1s ease;
    border-radius: 5px;
    margin-right: 10px;
}

    .saveEdit:hover {
        cursor: pointer;
        color: white;
        background-color: #009900;
        transition: 1s ease;
    }

.cancelEdit {
    width: 75px;
    height: 30px;
    background-color: white;
    border: 2px solid red;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: red;
    transition: 1s ease;
    border-radius: 5px;
}

    .cancelEdit:hover {
        cursor: pointer;
        color: white;
        background-color: red;
        transition: 1s ease;
    }

a {
    text-decoration: none;
    color: inherit;
}